#wrapper, #wrapper2, #wrapper3, #wrapper4, #wrapper5 {
	border: 20px solid white;
	background-color: white;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.kontejnerVeliki {
	width: 640px;
	height: 670px;
}
.kontejner {
	width: 480px;
	height: 480px;
}
.kontejnerMali {
	width: 304px;
	height: 300px;
	border: 2px solid #eee;
	margin: 0 auto;
}
.boksVeliki {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
	position: relative;
}
.boks {
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
	position: relative;
}
.boksMali {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
	position: relative;
}
.liceVeliko {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	transform: perspective(200px) rotateY(180deg);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.lice {
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	transform: perspective(200px) rotateY(180deg);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.liceMalo {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	transform: perspective(120px) rotateY(180deg);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicjeVeliko {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #eee;
	border: 1px solid #eee;
	background: rgb(190,225,47);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicje {
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	border: 1px solid #eee;
	border: 1px solid #eee;
	background: rgb(190,225,47);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicjeMalo {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(190,225,47);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicjeVeliko2 {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(241,97,8);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicje2 {
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(241,97,8);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicjeMalo2 {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(241,97,8);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicjeVeliko3 {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(70,70,70);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicje3 {
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(70,70,70);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicjeMalo3 {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(70,70,70);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicjeVeliko4 {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(187,49,23);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicje4 {
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(187,49,23);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicjeMalo4 {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(187,49,23);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicjeVeliko5 {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(22,70,115);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicje5 {
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(22,70,115);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.nalicjeMalo5 {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #eee;
	position: absolute;
	background: rgb(22,70,115);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}
.poruka {
  	text-align: center;
  	margin-top: -20px;
  	font-family: arial;
 	font-weight: bold;
  }
 .poruka2 {
 	text-align: right;
  	margin-top: -18px;
  	font-family: arial;
 	font-weight: bold;
 	font-size: 12px;
 }
.naslov {
	width: 521px;
	height: 20px;
	margin-bottom: 4px;
}
.naslovMali {
	width: 300px;
	height: 20px;
	margin: 4px auto;
}
button {
	font-weight: bold;
	cursor: pointer;
}
.logoNovi {
	margin-top: -95px;
	text-align: center;
}
